apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init
  namespace: payments-platform
data:
  init-script.sh: |
    #!/bin/bash
    set -e
    
    function create_user_and_database() {
    	local database=$1
    	local user=$2
    	local password=$3
    	echo "Creating user '$user' and database '$database'"
    	psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" <<-EOSQL
    	    CREATE USER $user WITH PASSWORD '$password';
    	    CREATE DATABASE $database;
    	    GRANT ALL PRIVILEGES ON DATABASE $database TO $user;
    	    \c $database
    	    GRANT ALL ON SCHEMA public TO $user;
    EOSQL
    }
    
    create_user_and_database ledger_db ledger_user ledger_password
    create_user_and_database payments_db postgres postgres
    
    echo "Databases created successfully"

