apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-config
  namespace: auth
data:
  application.conf: |
    play {
      server {
        http {
          port = 9001
        }
      }
      evolutions {
        enabled = true
        autoApply = true
      }
    }
    
    db {
      default {
        driver = "org.postgresql.Driver"
        url = "jdbc:postgresql://postgres-service.postgres.svc.cluster.local:5432/auth_db"
        username = ${DB_USERNAME}
        password = ${DB_PASSWORD}
      }
    }
    
    auth0 {
      domain = ${AUTH0_DOMAIN}
      client.id = ${AUTH0_CLIENT_ID}
      client.secret = ${AUTH0_CLIENT_SECRET}
      redirect.uri = ${AUTH0_REDIRECT_URI}
      redirect.uri.pkce = ${AUTH0_REDIRECT_URI_PKCE}
    }
    
    user {
      service {
        url = ${USER_SERVICE_URL}
      }
    }
    
    jwt {
      secret.key = ${JWT_SECRET_KEY}
      expiration.seconds = 3600
    }
    
    refresh.token {
      expiration.seconds = 604800
    }
