apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: auth-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9001
        env:
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: DB_HOST
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: DB_NAME
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: DB_USERNAME
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: DB_PASSWORD
        - name: AUTH0_DOMAIN
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: AUTH0_DOMAIN
        - name: AUTH0_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: AUTH0_CLIENT_ID
        - name: AUTH0_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: AUTH0_CLIENT_SECRET
        - name: AUTH0_REDIRECT_URI
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: AUTH0_REDIRECT_URI
        - name: AUTH0_REDIRECT_URI_PKCE
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: AUTH0_REDIRECT_URI_PKCE
        - name: USER_SERVICE_URL
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: USER_SERVICE_URL
        - name: JWT_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: JWT_SECRET_KEY
        - name: PLAY_HTTP_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: PLAY_HTTP_SECRET_KEY
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
