apiVersion: v1
kind: Secret
metadata:
  name: order-service-secret
  namespace: order
type: Opaque
stringData:
  DATABASE_URL: "postgresql://order_user:order_pass@postgres-service.postgres.svc.cluster.local:5432/order_db?sslmode=disable"
  INVENTORY_INTERNAL_API_TOKEN: "internal-test-token-change-in-production"
  PAYMENT_INTERNAL_API_TOKEN: "internal-test-token-change-in-production"
  CART_INTERNAL_API_TOKEN: "internal-test-token-change-in-production"
  INTERNAL_API_TOKEN: "internal-test-token-change-in-production"